@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

html,
body,
.container-fluid,
.row {
  height: 100%;
}

html {
  background-color: #202020;
}

* {
  box-sizing: border-box;
}

.container-relative {
  position: relative;
  text-align: center;
  color: white;
  padding: 0px;
}

.centered {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

br {
  height: 120px;
}

a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  color: #202020;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  color: gray;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.842) !important;
  opacity: 100%;
}

.nav-link:focus {
  color: white !important;
  opacity: 100%;
}

body {
  box-sizing: border-box;
  background-color: transparent !important;
  font-family: Montserrat;
  text-decoration: none;
  margin: auto;
}

.section-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

.bg-hero {
  min-height: 250px;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

.section-projects {
  background-color: transparent;
}

.text-projects {
  font-size: 22px;
  font-weight: 500;
  color: #202020;
  margin: 0px;
  margin-top: 5px;
}

.project-wide {
  transition: 0.6s ease;
  opacity: 40%;
}

.project-wide:hover {
  transition: 0.6s ease;
  opacity: 100%;
}

.section-reel {
  background-color: white;
  height: auto;
}

#reel-video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.project-2 {
  background-image: url(images/project-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.project-3 {
  background-image: url(images/project-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.project-4 {
  background-image: url(images/project-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  background-color: #202020;
}
