@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

html,
body,
.container-fluid,
.row {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #292929;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  color: gray;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  box-sizing: border-box;
  background-color: transparent !important;
  font-family: Montserrat;
  text-decoration: none;
}

.logo-row {
  padding: 40px 0px;
}

.section-hero {
  background-image: url(images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 700px;
}

.section-about-us {
  background-color: white;
  padding: 20px 0px;
}

.text-box {
  max-width: 500px;
}

.image-box {
}

.section-branding {
  background-color: #f9f9f9;
  padding: 20px 0px;
}
