@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none !important;
}
/*
@media only screen and (max-width: 576px) {
  .section-services,
  .branding,
  .footer {
    padding: 70px 0px !important;
  }

  .hero-txt-1 {
    padding-top: 150px;
    font-size: 18px !important;
    max-width: 300px !important;
    display: none !important;
  }
  .brand-text,
  .brand-text-2 {
    padding-bottom: 0px !important;
    font-size: 1.5rem !important;
    display: none !important;
  }

  .nav-item {
    filter: drop-shadow(2px 3px 5px rgba(100, 100, 100, 0.39));
  }

  .brand-text-mobile {
    display: inline !important;
  }
  .section-hero {
    max-height: 92vh !important;
    background-image: url(./images/hero-mobile.jpg);

    margin-bottom: 4vh !important;
  }
  .more {
    display: none !important;
  }
  .navbar {
    border-bottom: 1px solid #e4e4e4;
    height: 12vh !important;
  }

  .navbar-collapse {
    padding-top: 2rem;
  }

  h1,
  h2 {
    font-size: 1.5rem !important;
  }
  .section-reel {
    display: none;
  }
}*/

@media (min-width: 1400px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 577px) {
  .section-hero {
    max-height: 45vh;
  }

  .hero-txt-1 {
    font-size: 25px !important;
    max-width: 400px !important;
  }

  .brand-text {
    font-size: 3rem !important;
  }

  .more {
    display: none !important;
  }
  .section-hero {
    height: 55vh !important;
  }
  .section-projects {
    padding-top: 50px !important;
  }
}

html,
body,
.container-fluid,
.row {
  height: 100%;
}

.hr-sm {
  width: 70px;
  background-color: #ffc400;
  border: 3px solid #ffc400;
  border-radius: 100px;
  opacity: 100%;
  margin-top: 0px;
}

cursor {
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  background-color: white;
}

html {
  scroll-behavior: smooth;
  transition: 0.3s ease;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.more {
  font-weight: 400;
  color: #131313;
  font-size: 50px;
  margin: 0px;
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.navbar {
  height: 12vh;
  background-color: #131313;
}

.more-scroll {
  height: 20vh;
  background-color: #131313;
}

.more:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}

br {
  height: 120px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 3rem !important;
}

h2 {
  color: #131313;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  font-size: 1.7rem !important;
}

h3 {
  color: #131313;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

p {
  font-size: 20px;

  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.nav-link:hover {
  color: black !important;
  opacity: 100%;
}

.nav-link:focus {
  color: black !important;
  opacity: 100%;
}

body {
  box-sizing: border-box;
  background-color: transparent !important;
  font-family: Montserrat;
  text-decoration: none;
  margin: auto;
}

.section-hero {
  background-color: #131313;
  margin: 0;
  height: 68vh;
  width: 100%;
}

.hero-txt-1 {
  font-weight: 300 !important;
  font-size: 2rem;
}

.brand-text {
  display: inline;
  color: #535353;
  font-weight: 700;
  font-size: 3.5rem;
  margin: auto;
}

.brand-text-2 {
  display: inline;
  padding: 0px;
  margin: auto;
  transition: 0.5s ease;
  background: transparent;
  filter: brightness(103%);
}

.section-reel {
  background-color: #fafafa;
}

#reel-video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section-projects {
  background-color: #fff;
}

.pr {
  overflow: hidden;
}

.pr img {
  border-bottom: none;
  transition: 0.3s ease-out;
}

.pr:hover img {
  transform: scale(1.07);
  transition: 0.3s ease-out;
}

.pr-text {
  padding: 15px 0px;
  font-size: 1.2rem !important;
}

.btn-show-more {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: none !important;
  text-align: center;
  transition: 0.3s ease;
}

.section-services {
  background-color: #fff;
  padding: 0px 0px;
}

.footer {
  background-color: #f5f5f7;
  padding: 0px !important;
}

.highlight {
  padding: 10px;
  line-height: 10px;
  background: transparent;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight:hover {
  color: black;
  background: rgba(231, 231, 231, 0.747);
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-yellow {
  padding: 10px;
  line-height: 10px;
  background: #ebebeb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-yellow:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-yellow-dark {
  color: #535353 !important;
  padding: 10px;
  line-height: 10px;
  background: #1d1d1d !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-yellow-dark:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}

.pack {
  position: relative;
  padding: 1rem;
}

.pack .pack-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #202020;
}

.pack-text a {
  color: #6b9fff;
}

.img {
  min-height: 580px;
}

.pack-text {
  padding-top: 60px !important;
}

.service-1 {
  background-image: url(./images/service-branding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-2 {
  background-image: url(./images/service-marketing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-3 {
  background-image: url(./images/service-ui.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-4 {
  background-image: url(./images/service-animation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Loading animation */

div.loader {
  right: 0;
  left: 0;
  top: 0;
  background-color: #ffc400;
  position: fixed;
  padding: 10px;
  z-index: 9999;
}

.loader-container {
  height: 100vh;
  width: 100vh;
}

.loader-gif {
  width: 100%;
}
