@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


* {
    box-sizing: border-box;
    
}

html {
    background-image: url(images/hero-bg.png);
}

body {
    box-sizing: border-box;
    background-color: transparent !important;

}

a {
    text-decoration: none;
}

.logov2 {
    max-height: 60px;
    margin: 20px 10px;
}

.section-about-us {
    height: 600px;
    padding: 30px 10px;
    margin-top: 650px;
    background-color: #FFFFFF;
}