
@media (min-width: 1400px) {
  .container {
    max-width: 1700px !important;
  }
}

html,
body,
.container-fluid,
.row {
  height: 100%;
}

html {
  background-color: #f3f3f3;
  scroll-behavior: smooth;
  transition: 0.3s ease;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 12vh;
}

.hr-sm {
  width: 70px;
  background-color: #ffc400;
  border: 3px solid #ffc400;
  border-radius: 100px;
  opacity: 100%;
  margin-top: 0px;
}

br {
  height: 120px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none !important;
}

h1 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

h2 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  font-size: 2rem !important;
}

h3 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem !important;
}

p {
  font-size: 18px;
  color: gray;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.nav-link:hover {
  color: black !important;
  opacity: 100%;
}

.nav-link:focus {
  color: black !important;
  opacity: 100%;
}

body {
  box-sizing: border-box;
  background-color: transparent !important;
  font-family: Montserrat;
  text-decoration: none;
  margin: auto;
}

.footer {
  background-color: #ebebeb;
  padding: 0px;
}

.section-projects {
  background-color: #f3f3f3;
  padding-top: 70px;
}

.pr {
  overflow: hidden;
}

.pr img {
  transition: 0.3s ease;
}

.pr:hover img {
  transform: scale(1.07);
  transition: 0.5s ease;
}

.pr-thumbnail {
  width: 100%;
}

.pr-text {
  padding: 15px 0px;
  font-size: 1.2rem !important;
}

#reel-video {
  max-height: 950px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  padding: 10px;
  line-height: 10px;
  background: transparent;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight:hover {
  color: black;
  background: rgba(231, 231, 231, 0.747);
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-yellow {
  padding: 10px;
  line-height: 10px;
  background: #ebebeb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-yellow:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-focus {
  padding: 10px;
  line-height: 10px;
  background: #dbdbdb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-focus:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}
