@media (min-width: 1400px) {
  .container {
    max-width: 1700px !important;
  }
}

html,
body,
.container-fluid,
.row {
  height: 100%;
}

html {
  background-color: #fafafa;
  scroll-behavior: smooth;
  transition: 0.3s ease;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 12vh;
}

.hr-sm {
  max-width: 70px !important;
  background-color: #ffc400;
  border: 3px solid #ffc400;
  border-radius: 100px;
  opacity: 100%;
  margin-top: 0px;
}

br {
  height: 120px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none !important;
}

h1 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

h2 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  font-size: 2rem !important;
}

h3 {
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem !important;
}

p {
  font-size: 18px;
  color: gray;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.nav-link:hover {
  color: black !important;
  opacity: 100%;
}

.nav-link:focus {
  color: black !important;
  opacity: 100%;
}

body {
  box-sizing: border-box;
  background-color: transparent !important;
  font-family: Montserrat;
  text-decoration: none;
  margin: auto;
}

.footer {
  background-color: #fafafa;
  padding: 0px;
  margin: 0%;
  height: 6vh;
}

.section-contact {
  background-color: #fafafa;
  min-height: 82vh;
}

.highlight {
  padding: 10px;
  line-height: 10px;
  background: transparent;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight:hover {
  color: black;
  background: rgba(231, 231, 231, 0.747);
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-yellow {
  padding: 10px;
  line-height: 10px;
  background: #ebebeb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-yellow:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}

.highlight-focus {
  padding: 10px;
  line-height: 10px;
  background: #dbdbdb !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
  margin: 6px;
}

.highlight-focus:hover {
  color: black;
  background: #ffc400 !important;
  transition: all 0.2s;
  transform: scale(1.05);
}

.box-forms {
  background-color: transparent;
  border-radius: 5px;
  border: 0.2rem solid #bebebe;
  padding: 10px;
  outline: none;
}

.box-forms:focus {
  border: 0.2rem solid #ffc400;
}

.button-forms {
  color: #ebebeb;
  font-family: montserrat;
  font-weight: 600;
  text-align: center;
  background-color: #141414;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  transition: 0.2s ease;
}

.button-forms:hover {
  color: #141414;
  background-color: #ffc400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0.2rem solid #ffc400;
  transition: background-color 5000s ease-in-out 0s;
}
